* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 300;
}

section#welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    /*! cambiar */
    display: none;
    /*! cambiar */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    text-align: center;
    padding: 20%;
    transition: all 300ms;
}

#welcome .name {
    font-size: 1.5em;
}

.name-input, .project-name-input {
    padding: 1em 1.5em;
    background: transparent;
    border: 2px solid #3AAFB9;
    border-radius: 2em;
    transition: all .5s;
}

.name-input:focus, .project-name-input:focus {
    outline: none;
    border: 4px solid #3AAFB9;
}

#btn-start {
    width: 80%;
    height: 2em;
    display: flex;
}

#btn-start svg {
    width: 1em;
}

#welcome .project-name-label {
    font-size: 1.2em;
}

#btn-start {
    border: none;
    background: transparent;
    width: 80%;
    height: 3em;
    background-color: #40A3EB;
    border-radius: 1.5em;
}

.btn-start-text {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: #fff;
    font-weight: bold;
}

.btn-start-svg {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #fff;
}

.btn-start-svg path {
    fill: #fff;
}

.disapear {
    transform: scale(.7);
    opacity: 0;
}

section#main {
    display: none;
    /*! cambiar */
    display: block;
    /*! cambiar */
    transition: all 3s;
}

#aside {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    transition: all 1s;
    transform: translateX(-100vw);
}

.aside-btn-container svg, .project svg {
    width: 1.2em;
}

.aside-btn-container {
    position: relative;
}


#aside header {
    width: 100%;
    height: 4em;
    text-align: center;
    display: grid;
    place-content: center;
}

.aside-btn-container svg {
    position: fixed;
    transition: all 1s;
    transform: translateX(100vw);
    left: 1em;
}

.aside-btn-container path {
    fill: #3AAFB9;
}

#btn-close-menu {
    display: none;
}

.project {
    padding: .4em 0;
    width: 80%;
    border-radius: 0 3em 3em 0;
    transition: all .5s;
}

.project:hover {
    background: #eee;
}

.project span {
    margin-left: 2em; 
}

.menu-project {
    border: none;
    height: 100%;
    width: 2em;
    background: transparent;
}

.project.project-on {
    background: lightgray;
}

.project.project-on span {
    margin-left: 3.5em;
    font-weight: bold;
}

.new-project {
    padding: 1em 2.5em;
}

#btn-new-project {
    display: flex;
    width: 7em;
    height: 2.5em;
    background: transparent;
    border: 2px solid #3AAFB9;
    border-radius: 2em;
}

.new-project-text {
    width: 65%;
    height: 100%;
    display: grid;
    place-content: center;
    color: #3AAFB9;
    font-size: 1.2em;
    font-style: italic;
}

.new-project-text span {
    font-weight: bold;
}

.new-project-svg {
    width: 35%;
    height: 100%;
    display: grid;
    place-content: center;
    border-left: 2px solid #3AAFB9;
}

.new-project-svg svg {
    width: .9em;
}

.new-project-svg path {
    fill: #3AAFB9;
}

.owner-container {
    margin-top: 100%;
    padding: 0 1em;
    font-size: 1.5em;
}

.notes-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.notes-header {
    text-align: center;
    margin: 20% 0 10% 0;
    font-weight: bold;
}

.notes-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.note {
    background: #64E9EE;
    width: 80%;
    min-height: 15em;
    padding: 1em;
    box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-header {
    width: 100%;
    display: flex;
}

.note-title {
    font-size: 1em;
    margin-right: auto;
}

.note-menu {
    background: transparent;
    border: none;
    border-radius: .2em;
}

.note-menu svg {
    width: 1em;
    height: 1em;
}

.note-menu path {
    fill: #093A3E;
}

.note-body {
    width: 100%;
    min-height: 9em;
    padding: 1em .5em;
}

.note-body.list {
    width: 90%;
    margin: 0 auto;
    padding-left: 1em;
}

.note-body.list.check li {
    list-style: none;
}

.note-text {
    font-size: 2em;
}

.note-footer {
    display: flex;
    gap: 1em;
}